/* styling that will automatically hide content  */
.hide { 
    visibility: hidden;
}

/* changes the content area only */
.body {
    margin-top: 124px;
    border: solid black;
    background-color: white;
}

/* changes the entire body /page */
body { 
    width: 35%;
    margin: auto;
    background-color: blue;
}

/* styling ot submit button  */
#submit { 
    background-color: red;
}